$white: #ffffff;
$black: #000000;
$charcoal: #181818;
$red: #D50000;
$dark-red: #b20000;
$dark-gray: #212121;
$general-text: $black;
$gray:#BCB5B9;
$med-gray:#616161;
$light-gray:#e0e0e0;
$menu-gray:#f5f5f5;
$green: #0a8c00;


