//  Button
.btn {
	border-radius: 4px;
	text-transform: uppercase;
	padding:15px 30px;
	font-size:.9rem;
	min-width: 180px;
	@extend .poppins;

	&.btn-primary {
		background-color:$main-blue;
	}

	&.btn-white {
		background-color:$white;
		color:$black;
	}
}


// Carousel 

.carousel-item {
	min-height:400px;

		.lg-quote {
			margin-bottom:30px;
			margin-top:30px;
		}

		p {
			@extend .poppins;
			font-size:1.4rem;
		}

		.author {
			@extend .poppins;
			text-transform: uppercase;
			font-weight:700;
			font-size:1.2rem;
			margin-bottom:0px;

				&:before {
					height:50px;
					display: block;
					width:1px;
					border:1px solid $white;
					text-align: center;
					margin:auto;
					margin-bottom:30px;
					content:'';
				}
		}

		.author-title {
			font-size:1rem;
		}
}


// Alignments
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin horizontal-align($position: relative) {
  position: $position;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}