

@media (max-width: 991px)  {

	// Navigation
    .navbar-collapse {
        background:rgba(0,0,0,0.9);
        position:fixed;
        top:0px;
        bottom:0px;
        left:0px;
        right:0px;
        text-align: center;
        padding:20px;
        z-index: 2000;
    }
    
    // Hero
    .hero {
    	.slide-item {
    		.slide-title {
    			font-size:2.3rem;
    			line-height: 2.2rem;
    		}

    		.slide-blurb {
                color:$white;
                font-size:1rem;
                line-height: 1.2rem;
            }
    	}
    	
    }

    // Service
    .service-intro {
	    background-color:$white;
	    margin-top:-50px;
	    z-index:3;
	    box-shadow: 0px 0px 20px rgba(0,0,0,0.25);

	        .service-item {
	            padding:15px;
	            text-align: center;
	        }

	        .service-icon {
	            float:none;
	            margin-bottom:30px;
	            @include vertical-align();
	        }
	}

	// About
	.about {

		background-size: contain;

		.about-title-container { 

			margin-bottom:0px;

			.about-dashed {
				height:30px;
			}

			.about-title {
				margin-top:0px;
				margin-bottom:30px;
				transform: rotate(0deg);
				position: relative;
			}
		}

		.splash-text {
			text-align:center;
			margin-bottom:30px;
		}	
		
	}
}