// Header
header {
    position: relative;
    z-index: 4;
    padding-top:30px;
    height:120px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 30%, rgba(0,0,0,0.9) 100%);

        .main-logo {
            img {
                width:100%;
                max-width:326px;
            }
        }

        .header-actions {
            text-align: right;
            margin-top:10px;
            display: inline-block;
                a {
                    color:$white;
                    margin-left:15px;
                    display: inline-block;
                }
        }

        .account-cta {
            display: inline-block;
            background-color:$white;
            padding:15px 30px;
            display:inline-block;
            border-radius:30px;
            float:right;
            font-size:.8rem;
                a {
                    color:$charcoal;
                }
        }

        .navbar-toggler {
            margin-top:0px;
            font-size:2rem;
            color:#fff;
            float:right;
        }
}

// Main Navigation
.navbar {
    padding:0;
    margin-top:20px;
    @extend .poppins;

    .navbar-nav {
        .nav-item {
            margin-right:30px;
            .nav-link {
                display: inline-block;
                color:$white;
                    &:hover {
                        color:$main-blue;
                    }
            }

            .dd-control {
                color:$white;
                font-size: .8rem;
            }
        }
    }

    

    .close-nav {
        font-size:1.2rem;
        position: absolute;
        top:0px;
        right:0px;
        z-index: 1010;
        background:none;
        border:none;
        padding:20px;
        color:$white;
        font-size: 2rem;
    }

    .dropdown-menu {
        background: $black;
            
            a {
                color:$white;
                &:hover {
                    background-color:$main-blue;
                }
            }
    }

}


// Hero Banner
.hero {
    margin-top:-150px;
    width:100%;
    height:100%;
    max-height:830px;
    position: relative;
    @extend .poppins;

        .hero-player {
            background: #000; 
            height: 700px; 
            width: 100%; 
            position: relative; 
        }

        &:before {
            background:rgba(0,0,0,0.5);
            background-size:cover;
            position: absolute;
            z-index: 1;
            top:0px;
            bottom:0px;
            left:0px;
            right:0px;
            content:'';
        }

        .slide-item {
            position: absolute;
            z-index: 2;
            top:150px;
            padding:70px 15px 0px 15px;
            width: 100%;
            text-align: center;
            font-weight:700;
            line-height:5rem;

                .slide-title {
                    color:$white;
                    margin-bottom:15px;
                    font-size:4.525rem;
                }
                
                .slide-blurb {
                    color:$white;
                    font-size:1.8rem;
                    line-height: 2rem;
                    font-weight:400;
                    margin-bottom:30px;
                }
        }

}

// Serivce Intro
.service-intro {
    background: $light-gray;
    border-top:20px solid $dark-gray;
    .container {
        position:relative;
        background-color:$white;
        padding:20px 15px;
        margin:0px;
        margin-top:-80px;
        z-index:3;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.25);
        @include horizontal-align();


            .service-item {
                padding:30px 15px;
            }

            .service-icon {
                float:left;
                width:100%;
                max-width: 60px;
                @include vertical-align();
            }
    }
}

// About Splash
.about {
    padding-top:100px;
    min-height: 800px;
    background-image:url('../images/city-bg-lg.png');
    background-repeat:no-repeat;
    background-color: $light-gray;
    background-position: bottom center;
    background-size: cover;
    margin-bottom:50px;

        .about-title-container {
            margin-bottom:-140px;

                .about-dashed {
                    margin-top:-100px;
                    width:1px;
                    border:1px dashed $dark-gray;
                    height:200px;
                    display: block;
                    @include horizontal-align();
                }    

                .about-title {
                    border:10px solid $dark-gray;
                    color: $dark-gray;
                    font-size:2.5rem;
                    background:$white;
                    padding:10px 20px;
                    display: inline-block;
                    @extend .poppins;
                    transform: rotate(-90deg);
                    margin-bottom:-140px;
                }
        }
        
        .splash-text {
            font-size:2.60rem;
            line-height:3rem;
            @extend .poppins;
        }
}

// Services
.services {
    h2 {
        text-align: center;
        margin-bottom:100px;

            span {
                color:$main-blue;
            }
    }

    .service-grid {
        .service-item {
            text-align: center;
            margin-bottom:50px;
                .service-icon {
                    margin-bottom:20px;
                }
        }
    }
}

// Testimonials
.testimonials {
    margin-top:100px;
    background-color:$main-blue;
    padding-top:100px;
    padding-bottom:100px;
    text-align: center;
    color:$white;

        h3 {
            font-weight: 400;
        }
}


// Footer
footer {
    background-color:$charcoal;
    padding:30px 0px;
    color:$white;

        .side-column {
            padding-top:10px;
            margin-bottom:20px;
                h4 {
                    text-transform: uppercase;
                    font-weight: 500;
                    margin-bottom:20px;
                }
        }

        ul {
            margin:0px;
            margin-top:15px;
            padding:0px;
                li {
                    display: inline-block;
                    padding:0px 8px;
                    list-style-type: none;
                }
        }

        .main-logo {
            width:100%;
            max-width:325px;
        }

        .social-icons {
            margin-top:30px;
            margin-bottom:40px;
            a {
                color:$white;
                display: inline-block;
                margin:0px 10px;
            }
        }

        .copyright {
            font-size:.7rem;
        }

        p {
            margin-bottom:10px;
        }

}



// Subpages
.subpage-hero {
    background-color:$black;
    margin-top:-120px;
    padding-top:150px;
    width:100%;
    height:300px;
    position: relative;
    @extend .poppins;
    color:$white;

        h1 {
            padding-top:30px;
            border-top:1px solid #666;
            margin-bottom:0px;
            font-weight:300;
            color:$medium-gray;
        }

        h5 {
            font-weight:300;
            @extend .lato;
        }
}

.page-content {
    padding-top:50px;

    h2 {
        font-size:2rem;
        font-weight:300;
        margin-bottom:0px;
    }

    img {
        margin-bottom:30px;
    }


    .quick-nav {
        margin-bottom:30px;
    }

    .left-sidenav {
        min-height:200px;
        background-color:$main-blue;
        padding:15px 20px;
        color:$white;

            ul {
                padding:0px;
                margin:0px;

                li {
                    list-style-type:none;
                    margin:0px 0px 10px 0px;
                    padding:0px 0px 10px 0px; 
                    border-bottom:1px solid rgba(255,255,255,0.4);

                        a {
                            color:$white;
                        }
                }
            }
    }
}