.poppins, h2, h3, h4, .btn, .carousel-item p, .carousel-item .author, .navbar, .hero, .about .about-title-container .about-title, .about .splash-text {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.poppins strong, h2 strong, h3 strong, h4 strong, .btn strong, .carousel-item p strong, .carousel-item .author strong, .navbar strong, .hero strong, .about .about-title-container .about-title strong, .about .splash-text strong {
  font-weight: 500;
}

.lato {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

body, html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

h3 {
  font-size: 2.30rem;
}

h4 {
  font-size: 1.125rem;
  font-weight: 700;
}

h6 {
  font-size: 1rem;
}

footer a {
  color: #ffffff;
}

.btn {
  border-radius: 4px;
  text-transform: uppercase;
  padding: 15px 30px;
  font-size: .9rem;
  min-width: 180px;
}

.btn.btn-primary {
  background-color: #3e95d1;
}

.btn.btn-white {
  background-color: #ffffff;
  color: #000000;
}

.carousel-item {
  min-height: 400px;
}

.carousel-item .lg-quote {
  margin-bottom: 30px;
  margin-top: 30px;
}

.carousel-item p {
  font-size: 1.4rem;
}

.carousel-item .author {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 0px;
}

.carousel-item .author:before {
  height: 50px;
  display: block;
  width: 1px;
  border: 1px solid #ffffff;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
  content: '';
}

.carousel-item .author-title {
  font-size: 1rem;
}

header {
  position: relative;
  z-index: 3;
  padding-top: 30px;
  height: 120px;
  background: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 30%, rgba(0, 0, 0, 0.9) 100%);
}

header .main-logo img {
  width: 100%;
  max-width: 326px;
}

header .header-actions {
  text-align: right;
  margin-top: 10px;
  display: inline-block;
}

header .header-actions a {
  color: #ffffff;
  margin-left: 15px;
  display: inline-block;
}

header .account-cta {
  display: inline-block;
  background-color: #ffffff;
  padding: 15px 30px;
  display: inline-block;
  border-radius: 30px;
  float: right;
  font-size: .8rem;
}

header .account-cta a {
  color: #181818;
}

header .navbar-toggler {
  margin-top: 0px;
  font-size: 2rem;
  color: #fff;
  float: right;
}

.navbar {
  padding: 0;
  margin-top: 20px;
}

.navbar .navbar-nav .nav-item {
  margin-right: 30px;
}

.navbar .navbar-nav .nav-item .nav-link {
  display: inline-block;
  color: #ffffff;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #3e95d1;
}

.navbar .close-nav {
  font-size: 1.2rem;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1010;
}

.navbar .dropdown-menu {
  background: #000000;
}

.navbar .dropdown-menu a {
  color: #ffffff;
}

.navbar .dropdown-menu a:hover {
  background-color: #3e95d1;
}

.hero {
  margin-top: -150px;
  width: 100%;
  height: 100%;
  max-height: 830px;
  position: relative;
}

.hero .hero-player {
  background: #000;
  height: 700px;
  width: 100%;
  position: relative;
}

.hero:before {
  background: rgba(0, 0, 0, 0.8);
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  content: '';
}

.hero .slide-item {
  position: absolute;
  z-index: 2;
  top: 150px;
  padding: 70px 15px 0px 15px;
  width: 100%;
  text-align: center;
  font-weight: 700;
  line-height: 5rem;
}

.hero .slide-item .slide-title {
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 5.525rem;
}

.hero .slide-item .slide-blurb {
  color: #ffffff;
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.service-intro {
  background: #FBFBFB;
  border-top: 20px solid #707070;
}

.service-intro .container {
  position: relative;
  background-color: #ffffff;
  padding: 20px 15px;
  margin: 0px;
  margin-top: -80px;
  z-index: 3;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.service-intro .container .service-item {
  padding: 30px 15px;
}

.service-intro .container .service-icon {
  float: left;
  width: 100%;
  max-width: 60px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.about {
  padding-top: 100px;
  min-height: 800px;
  background-image: url("../images/city-bg-lg.png");
  background-repeat: no-repeat;
  background-color: #FBFBFB;
  background-position: bottom center;
  background-size: cover;
  margin-bottom: 50px;
}

.about .about-title-container {
  margin-bottom: -140px;
}

.about .about-title-container .about-dashed {
  margin-top: -100px;
  width: 1px;
  border: 1px dashed #707070;
  height: 200px;
  display: block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.about .about-title-container .about-title {
  border: 10px solid #707070;
  color: #707070;
  font-size: 2.5rem;
  background: #ffffff;
  padding: 10px 20px;
  display: inline-block;
  transform: rotate(-90deg);
  margin-bottom: -140px;
}

.about .splash-text {
  font-size: 2.60rem;
  line-height: 3rem;
}

.services h2 {
  text-align: center;
  margin-bottom: 100px;
}

.services h2 span {
  color: #3e95d1;
}

.services .service-grid .service-item {
  text-align: center;
  margin-bottom: 50px;
}

.services .service-grid .service-item .service-icon {
  margin-bottom: 20px;
}

.testimonials {
  margin-top: 100px;
  background-color: #3e95d1;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  color: #ffffff;
}

.testimonials h3 {
  font-weight: 400;
}

footer {
  background-color: #000000;
  min-height: 100px;
  padding: 100px 0px;
  color: #ffffff;
}

footer .side-column {
  padding-top: 10px;
  margin-bottom: 80px;
}

footer .side-column h4 {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 50px;
}

footer .main-logo {
  margin-bottom: 80px;
}

footer .social-icons {
  margin-top: 80px;
  margin-bottom: 80px;
}

footer .social-icons a {
  color: #ffffff;
  display: inline-block;
  margin: 0px 10px;
}

footer .copyright {
  font-size: .7rem;
}

@media (max-width: 991px) {
  .navbar-collapse {
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    padding: 20px;
    z-index: 2000;
  }
  .hero .slide-item .slide-title {
    font-size: 2.3rem;
    line-height: 2.2rem;
  }
  .hero .slide-item .slide-blurb {
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .service-intro {
    background-color: #ffffff;
    margin-top: -50px;
    z-index: 3;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  }
  .service-intro .service-item {
    padding: 15px;
    text-align: center;
  }
  .service-intro .service-icon {
    float: none;
    margin-bottom: 30px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .about {
    background-size: contain;
  }
  .about .about-title-container {
    margin-bottom: 0px;
  }
  .about .about-title-container .about-dashed {
    height: 30px;
  }
  .about .about-title-container .about-title {
    margin-top: 0px;
    margin-bottom: 30px;
    transform: rotate(0deg);
    position: relative;
  }
  .about .splash-text {
    text-align: center;
    margin-bottom: 30px;
  }
}
